* {
    margin:0px;
}

body {
    background-color: rgb(233, 255, 228);
    color: #093300;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    width: 750px;
    margin: auto;

    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    border-color:  #093300;
    border-width: 5px;
    border-style: double;
}

button {
    background-color:  #093300;
    color: #e9ffe4;
    border: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 15px;
    border-radius: 10px;
}

#last-round {
    font-size: 30px;
    font-weight: bold;
}

#results {
    justify-content: space-around;
    display: flex;
    gap: 20px;

    font-size: 20px;
}