* {
    margin:0px;
}

body {
    background-color: rgb(233, 255, 228);
}

main {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-color: black;
    border-width: 5px;
    border-style: solid;
}

#results {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}